<mat-toolbar class="mainToolBar">
    <nav>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="login">
          <mat-icon>perm_identity</mat-icon>
      </button>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="logout">
          <mat-icon>logout</mat-icon>
      </button>
    </nav>  

    <!-- Heading/Brand Name -->
    
    <span class="example-spacer"></span>
    <span class="maintext">Bake My Cake</span>        
    <span class="example-spacer"></span>
    
    <!-- anchor tags section start -->
    <nav>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="home">
        <mat-icon>home</mat-icon>
      </button>
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="myorders">
        <mat-icon>assignment</mat-icon>
      </button>
    </nav>  
    <!-- anchor section ends here! -->

</mat-toolbar>

