.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-icon{
      margin: 5px;
      font-size: larger;
  }
  
  .example-container {
      width: 400px;
      height: 200px;
      margin: 10px;
      border: 1px solid #555;
    }
  
  .maintext{
      font-size: 40px;
      color: #9e1f41;
      font-weight: 400;
      font-family: 'Times New Roman', Times, serif;
  }

  button{
    color: aqua;
  }